/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/*
!/vendor/nahid
!/vendor/hootlex

.vscode/*
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/img/message-pictures
public/img/profile-pictures
public/img/post-pictures
public/img/partner-pictures
public/img/email-pictures
public/img/culture-pictures
public/img/blog-pictures
