/node_modules
/public/hot
/public/storage
/storage/*.key

/vendor/*
!/vendor/nahid

.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

public/img/message-pictures
public/img/profile-pictures
