body{
    position: relative;
    margin: 0;
    min-height: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#body-bg{
    background-image: $body-picture;
}

.nav-bar-height{
    height: 10vh;
}

.py-4{
    min-height: 90vh;
}

#footer{
    background-color: $black;
    color: $white;
    position: absolute;
    right: 0;bottom:0;left:0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}