body{
    overflow-x: hidden;
    position: relative;
    margin: 0;
    min-height: 100%;
    min-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#body-bg{
    background-image: $body-picture;
}

.nav-bar-height{
    min-height: 10vh;
    @media screen and (max-width: $mobile-breakpoint) {
        .navbar-brand{
            margin-right: auto;
        }
        .navbar-toggler{
            margin-left: auto;
        }
    }
    .dropdown-menu{
        max-height: 50vh;
        overflow-y: auto;
        position: absolute;
        right: unset;
    }
    .nav-link{
        .badge{
            color: $white;
            background-color: $orange;
            @include font-size(0.6rem);
            padding: 0.2rem 0.3rem;
        }
    }
    .navMobile{
        display: none;
        @media screen and (max-width: $mobile-breakpoint) {
            display: flex;
        }
        .navbarIcons{
            display: inherit;
            @include font-size(1.5rem);
        }
        .notificationImage{
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;
        }
        .dropdown-menu{
            min-width: 50vw;
        }
    }
    .navDesc{
        display: flex;
        @media screen and (max-width: $mobile-breakpoint) {
            display: none;
        }
        .navbarIcons{
            display: inherit;
            @include font-size(1.5rem);
        }
        .notificationImage{
            max-width: 40px;
            max-height: 40px;
            border-radius: 50%;
        }
        .dropdown-menu{
            left: -80%;
            overflow-x: hidden;
            width: 30vw;
        }
    }
    .userNotifications{
        .dropdown-item{
            padding: 0.5rem 1rem;
            .notificationImageBox{
                display: flex;
                align-items: center;
                justify-content: center;
                .notificationImage{
                    padding-left: 0;
                    max-width: 50px;
                    max-height: 50px;
                    border-radius: 50%;
                }
            }
            .notificationDesc{
                align-self: center;
                .descTime{
                    @extend .text-muted;
                    @include font-size(0.7rem);
                }
                .descBody{
                    @include font-size(0.9rem);
                }
            }

            &.read{
                background-color: $light-grey;
                color: $dark-grey;
                .notificationDesc{
                    div:first-child{
                        color: $dark-grey;
                        font-weight: normal;
                    }
                    .descTime{
                        color: $dark-grey !important;
                    }
                }
            }
        }
    }
    .systemNotifications{
        overflow-y:unset;
        max-height: none;
        .notificationsContainer{
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0.25rem 1rem;
            max-height: 40vh;
        }
        a{
            margin-top: 0.5rem;
            margin-bottom: 0;
        }
        .alert-info:hover{
            background-color: $indigo;
        }
        .alert-warning:hover{
            background-color: $yellow;
        }
        .alert-danger:hover{
            background-color: $red;
        }
        .alert-success:hover{
            background-color: $green;
        }
        .systemNotificationDate{
            @include font-size(0.6rem);
            .badge{
                color: $white;
                background-color: $orange;
                padding: 0.25rem 0.4rem;
                border-radius: 50%;
                @include font-size(0.75rem);
            }
        }
        .read{
            background-color: $grey;
            color:$white;
            border-color: darkgrey;
            &:hover{
                background-color: $dark-grey;
            }
            .systemNotificationDate{
                .badge{
                    @extend .badge-light;
                }
            }
        }
        .adminWideHeader{
            @include font-size(1rem);
            font-weight: bold;
        }
    }
    .chatNotifications{
        .dropdown-item{
            .notificationImageBox{
                display: flex;
                align-items: center;
                justify-content: center;
                .notificationImage{
                    padding-left: 0;
                    max-width: 50px;
                    max-height: 50px;
                    border-radius: 50%;
                }
            }
            @include font-size(0.9rem);
            .notificationDesc{
                div:first-child{
                    @include font-size(1rem);
                    color:$black;
                    font-weight: bold;
                }
                .descTime{
                    @include font-size (0.65rem);
                    @extend .text-muted;
                }
            }

            &.read{
                background-color: $light-grey;
                color: $dark-grey;
                .notificationDesc{
                    div:first-child{
                        color: $dark-grey;
                        font-weight: normal;
                    }
                    .descTime{
                        color: $dark-grey !important;
                    }
                }
            }
        }
    }
    .clearAllBtn{
        cursor: pointer;
        @extend .dropdown-item;
        width: min-content;
        margin-top: 0;
        margin-left: auto;
        text-align: center;
    }
}

.py-4{
    min-height: 90vh;
}

#footer{
    background-color: $black;
    color: $white;
    position: absolute;
    right: 0;bottom:0;left:0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
