.culture_advertisment-placeholder{
    background-color: #f0f;
    min-height: 85vh;
}
.culture_item-container{
    margin-top: 1rem;
    padding: 0rem;

    .culture_itemTitle{
        font-size: 2rem;
        font-weight: bold;
        color: #444;
    }
    .culture_itemAuthor{
        font-size: 1rem;
        font-weight: bold;
        color: #f66103;
    }
    .culture_tag{
        background-color: $orange;
        color: $white;
        padding: 1px;
        border-radius: 1rem;
        margin: 1em;
    }
    .culture_itemBorder{
        border-right: 1px solid #888;
    }
    .culture_thumbnails{
        border-right: 1px solid #999;
        border-left: 1px solid #999;
    }
    .culture_centeredItems{
        text-align: center;
    }
    .likesCount{
        background-color: $orange;
        color: $white;
        position: relative;
        left: -1em;
    }
}