.culture_page-container{
    .item-container{
        margin-top: 1rem;
        padding: 0rem;
        .itemHeader{
            .thumbnail{
                img{
                    max-height: 10rem;
                    max-width: 10rem;
                }
            }
        }
        .itemTitle{
            @include font-size(1.9rem);
            font-weight: bold;
            color: #444;
            letter-spacing: 1px;
        }
        .itemAttr{
            @extend .text-muted;
            @include font-size(1.4rem);
            word-wrap: break-word;
            letter-spacing: 0.5px;
        }
        .tagHolder{
            padding: 0 1rem;
            align-content: center;
            .tag{
                cursor: default;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $orange;
                color: $white;
                @include font-size(0.9rem);
                border-radius: 50px;
                margin: 0.2rem 0.1rem;
                padding: 0rem 0.2rem;
                height: 2rem;
                &:hover{
                    background-color: $orange-active-hover;
                }
                p{
                    justify-content: center;
                    margin: 0rem;
                }
            }
        }
        .likeItem{
            display: flex;
            align-items: center;
            justify-content: center;
            .cultureLikeBtn{
                position: relative;
                i{
                    display: block;
                }
                .likesCount{
                    background-color: $orange;
                    color: $white;
                    font-size: 0.9rem;
                    position: absolute;
                    top: unset;
                    bottom: 0;
                    right: -10%;
                }
            }
        }
        .active{
            color: $orange;
        }
        .description{
            padding: 1rem;
            p{
                word-wrap: break-word;
                text-align: center;
                @include font-size(1rem);
                letter-spacing: 0.5px;
            }
        }
        #picture_gallery{
            .itemPicture{
                text-align: center;
                img{
                    width: 7rem;
                    height: 7rem;
                    margin-top: 1rem;
                }
            }
        }
        #itemReview{
            .noReview{
                @extend .text-muted;
                display: block;
                width: 100%;
                @include font-size(1.2rem);
                letter-spacing: 1px;
                font-weight: bold;
                text-align: center;
            }
            .reviewBtn{
                margin: auto;
                background-color: $orange;
                padding: 0.5rem 1rem;
                h5{
                    @include font-size(1.2rem);
                    letter-spacing: 1px;
                    text-transform: uppercase;
                    color: $white;
                    font-weight: bold;
                    margin: 0;
                }
                &:hover{
                    background-color: $orange-hover;
                }
            }
            #reviewModal{
                padding-right: 0 !important;
                .modal-dialog{
                    max-width: 90vw;
                }
                .modal-body{
                    @include font-size(1.1rem);
                    word-wrap: break-word;
                    img{
                        @extend .img-fluid;
                    }
                }
                #reviewModalLabel{
                    @include font-size(1.4rem);
                    letter-spacing: 0.5px;
                }
                .author{
                    font-style: italic;
                    font-weight: bold;
                    padding-left: 1rem;
                    @include font-size(1rem);
                    letter-spacing: 1px;
                }
            }
        }
        .sectionTitle{
            display: block;
            width: 100%;
            text-align: center;
            padding: 1rem 2rem;
            padding-top: 0;
            @include font-size(1.5rem);
            font-weight: bold;
            letter-spacing: 1px;
        }
        .similar-entries{
            text-align: center;
            #simmilarItems{
                .simmilarItem{
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    color: $blac;
                    text-decoration: none;
                    padding: 0.5rem 0.25rem;
                    border-radius: 20px;
                    &:hover{
                        background-color: $light-orange;
                    }
                    .itemThumb{
                        img{
                            width: 7rem;
                            height: 7rem;
                        }
                    }
                    .suggestedTitle{
                        @include font-size(1.2rem);
                        font-weight: bold;
                        letter-spacing: 1px;
                    }
                }
            }
        }

    }
}