#wallFetchBtn{
    width: 100%;
    position: fixed;
    z-index: 1000;
    text-align: center;
    margin-top: 10vh;
    span{
        @include font-size(1.2rem);
        padding: 0.8rem;
        border-radius: 50px;
        letter-spacing: 1px;
        font-weight: bold;
        cursor: pointer;
        color: $white;
        background-color: $orange;
    }
}

#friendsWall{
    .friendsWall{
        text-align: left;
        .friendsWallHeader{
            text-align: center;
            h3{
                @include font-size(2rem);
                letter-spacing: 2px;
            }
        }
        #picture-preview{
            display: block;
            width:100%;
            .resetPictureBox{
                text-align: right;
                i{
                    cursor: pointer;
                    @include font-size(1.1rem);
                    &:hover{
                        color:$orange;
                    }
                }
            }
            .thumb{
                max-width: 150px;
                max-height: 150px;
                margin-left: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
        textarea{
            display: none;
        }
        .emojionearea{
            @include font-size(1rem);
        }
        
        #postTaggedUsers{
            padding: 0 1rem;
            margin-top: 1rem;
            margin-bottom: 0.5rem;
            width: 100%;
            .taggedUser{
                label{
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                    background-color: $orange;
                    color: $white;
                    font-weight: bold;
                    letter-spacing: 1px;
                    @include font-size(0.9rem);
                }
            }
        }

        .friendsWallButtons{
            margin: 0.5rem 0;
            padding:0 0.5rem;
            .additionalButton{
                @include font-size(1.4rem);
                margin: 0 0.5rem;
                cursor: pointer;
                &:hover{
                    color: $orange;
                }
            }
            .custom-control-input:checked ~ .custom-control-label::before{
                background-color: $orange;
                border-color: $orange;
            }
        }
        .friendsWallSendButton{
            button{
                color: $white;
                background-color: $orange;
                @include font-size(1rem);
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
        #friendsWallFeed{
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            margin: 2rem 0;
            display: block;
            width: 100%;
            min-height: 50vh;
            padding: 1rem;
            .noContent{
                text-align: center;
                margin: 2rem 0;
                @include font-size(2rem);
                @extend .text-muted;
                opacity: 0.5;
            }
            .ajaxSpinner{
                text-align: center;
            }
            .postBox{
                .post{
                    margin-top: 1rem;
                    .postAuthor{
                        .postAuthorPicture{
                            max-width: 50px;
                            max-height: 50px;
                            border-radius: 50%;
                        }
                        .postAuthorName{
                            display: flex;
                            align-items: center;
                            @include font-size(1.3rem);
                            font-weight: bold;
                            letter-spacing: 1.5px;
                            a{
                                color: $black;
                            }
                            small{
                                @include font-size(0.6rem);
                                font-weight: normal;
                                margin-left: 0.25rem;
                            }
                        }
                        .postAuthorButtons{
                            text-align: right;
                            @include font-size(0.9rem);
                            i{
                                padding: 0 0.5rem;
                                cursor: pointer;
                                &:hover{
                                    color: $orange;
                                }
                            }
                        }
                    }
                    .postDesc{
                        padding: 0 1rem;
                        margin-top: 0.5rem;
                        .postPhotos{
                            .postPicture{
                                max-width: 500px;
                                max-height: 200px;
                            }
                        }
                        .postContent{
                            margin-top: 0.25rem;
                            @include font-size(1rem);
                        }
                        .postTags{
                            padding: 1rem 0.5rem;
                            .postTaggedUser{
                                @extend div;
                                text-align: center;
                                margin-left: 0.5rem;
                                text-decoration: none;
                                span{
                                    display: block;
                                    width: 100%;
                                    @include font-size(0.9rem);
                                    font-weight: bold;
                                    padding: 0.4rem;
                                    border-radius: 50px;
                                    background-color: $orange;
                                    color: $white;
                                }
                            }
                        }
                    }
                    .postFooter{
                        margin-top: 0.5rem;
                        button{
                            @include font-size(1.2rem);
                            letter-spacing: 2px;
                            margin: 0 auto;
                            color: $black;
                            font-weight: bold;
                            &:hover{
                                color:$orange;
                            }
                            &.active{
                                color: $orange;
                            }
                            .postCommentsCount,.likesCount{
                                background-color: $orange;
                                color:$white;
                                @include font-size(0.6rem);
                                padding: 0.2rem 0.3rem;
                                top:0.2rem;
                            }
                        }
                    }
                }
                .postComments{
                    .input-group{
                        padding: 0 5%;
                        width: auto;
                        .emojionearea-editor{
                            min-height: unset;
                        }
                        .emojionearea-button{
                            margin-top: 3px;
                        }
                    }
                    #commentUserTags{
                        padding: 0 2rem;
                        margin-top: 1rem;
                        margin-bottom: 0.5rem;
                        width: 100%;
                        .taggedUser{
                            label{
                                padding: 0.5rem 1rem;
                                border-radius: 50px;
                                background-color: $orange;
                                color: $white;
                                font-weight: bold;
                                letter-spacing: 1px;
                                @include font-size(0.6rem);
                            }
                        }
                    }
                    .commentsDesc{
                        border-right: 0;
                    }
                    .commentButtons{
                        padding: 0;
                        border: 1px solid#CCC;
                        border-left-color: rgb(204, 204, 204);
                        border-left-style: solid;
                        border-left-width: 1px;
                        border-left: 0;
                        background: $white;
                        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
                        align-content: center;
                        align-items: center;
                        i{
                            cursor: pointer;
                            color: #a1a1a1;
                            margin: auto;
                            @include font-size(0.9rem);
                            transition: all 400ms ease-in-out;
                            &:hover{
                                color: #757575;
                            }
                        }
                    }
                    .commentsFeed{
                        display: block;
                        width: 100%;
                        margin-top: 1.5rem;
                        .comment,.reply{
                            padding: 0 3rem;
                            .commentProfilePicture{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                img{
                                    max-width: 40px;
                                    max-height: 40px;
                                    border-radius: 50%;
                                }
                            }
                            .commentContent{
                                .commentAuthor{
                                    .commentAuthorName{
                                        font-weight: bold;
                                        letter-spacing: 1.5px;
                                        @include font-size(1rem);
                                    }
                                    .commentAuthorButtons{
                                        i{
                                            cursor: pointer;
                                            @include font-size(0.8rem);
                                            margin-left: 0.5rem;
                                            &:hover{
                                                color:$orange;
                                            }
                                        }
                                    }
                                }
                                .commentDate{
                                    @extend .text-muted;
                                    @include font-size(0.6rem);
                                }
                                .commentDesc{
                                    @include font-size(0.8rem);
                                }
                                .commentTags{
                                    margin-top: 1rem;
                                    margin-bottom: 0.5rem;
                                    a{
                                        @extend div;
                                        text-align: center;
                                        text-decoration: none;
                                        span{
                                            display: block;
                                            width: 100%;
                                            @include font-size (0.7rem);
                                            font-weight: bold;
                                            letter-spacing: 1px;
                                            border-radius: 50px;
                                            padding: 0.3rem;
                                            background-color: $orange;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                            .commentUserButtons{
                                padding: 0;
                                text-align: left;
                                i{
                                    cursor: pointer;
                                    margin-left: 0.5rem;
                                    @include font-size(0.9rem);
                                    color: $black;
                                    &:hover{
                                        color: $orange;
                                    }

                                    &.active{
                                        color: $orange;
                                    }
                                }
                                .likesCount{
                                    @include font-size(0.8rem);
                                    background: transparent;
                                    color: $red;
                                }
                            }
                        }
                        #replyForm{
                            margin-top: 2rem;
                            margin-bottom: 1rem;
                            padding: 0 3rem;
                            #replyUsersTag{
                                @extend #commentUserTags;
                            }
                        }
                        .commentRepliesBox{
                            .spinner-border{
                                width: 1.5rem;
                                height: 1.5rem;
                                font-size: 0.8rem;
                            }
                            .commentProfilePicture{
                                img{
                                    max-width: 35px;
                                    max-height: 35px;
                                    border-radius: 50%;
                                }
                            }
                            .commentContent{
                                .commentAuthor{
                                    .commentAuthorName{
                                        @include font-size(0.8rem);
                                    }
                                    .commentAuthorButtons{
                                        i{
                                            @include font-size(0.6rem);
                                            margin-left: 0.3rem;
                                        }
                                    }
                                }
                                .commentDate{
                                    @include font-size(0.5rem);
                                }
                                .commentDesc{
                                    @include font-size(0.65rem);
                                }
                                .commentTags{
                                    .taggedUserLabel{
                                        @include font-size (0.6rem);
                                    }
                                }
                            }
                            .commentUserButtons{
                                i{
                                    margin-left: 0.3rem;
                                    @include font-size(0.75rem);
                                }
                                .likesCount{
                                    @include font-size(0.55rem);
                                    background: transparent;
                                    color: $red;
                                }
                            }
                            .repliesMoreBtn{
                                background-color: $orange;
                                color: $white;
                                @include font-size(0.7rem);
                                font-weight: bold;
                                padding: 0.4rem;
                                margin: 2% 0 2% 5%;
                                .repliesCount{
                                    @include font-size(0.5rem);
                                    color: $white;
                                    background: $orange;
                                    top: 0.3rem;
                                    right: 0.2rem;
                                }
                            }
                        }
                        .commentsMoreBtn{
                            background-color: $orange;
                            color: $white;
                            @include font-size(1rem);
                            padding: 0.6rem;
                            font-weight: bold;
                            margin: 2% 0 2% 5%;
                            .commentsMoreCount{
                                @include font-size(0.65rem);
                                color: $white;
                                background: $orange;
                                top: 0.3rem;
                                right: 0.2rem;
                            }
                        }
                    }
                }
            }
        }
    }
    .friendsList{
        .friendsListHeader{
            h3{
                @include font-size(2rem);
                letter-spacing: 2px;
            }
        }
        .friendsListBox{
            .friendList{
                padding: 0.1rem;
                &:hover{
                    background-color: #aaaaaa;
                }
            }
            display: block;
            width: 100%;
            text-align: left;
            ul{
                padding-left: 1rem;
                list-style: none;
                .displaynan{
                    display: none;
                }
                li{
                    margin: 1.0rem 0;
                    .profilePicture{
                        position: relative;
                        img{
                            max-width: 35px;
                            max-height: 35px;
                            border-radius: 50%;
                        }
                    }
                    &.active{
                        .profilePicture::after{
                            content: "";
                            position: absolute;
                            width: 12px;
                            height: 12px;
                            background-color: $green;
                            border-radius: 50%;
                            top: 1.55rem;
                            left: 2.5rem;
                        }
                    }
                    .friendName,.friendOptions{
                        display: flex;
                        align-items: center;
                    }
                    .friendObject{
                        .row{
                            background-color: #000000;
                        }
                    }
                    .friendName{
                        @include font-size(1rem);
                        letter-spacing: 1px;
                        color: $black;
                    }
                    
                    .friendOptions{
                        @include font-size(1.1rem);
                        span{
                            
                                margin: 0 0.5rem;
                                cursor: pointer;
                                color: $black;
                                &:hover{
                                    color: $orange; 
                                }
                                a{
                                    margin: 0 0.5rem;
                                    cursor: pointer;
                                    color: $black;
                                    &:hover{
                                    color: $orange; 
                                }
                                }
                            
                        }
                    }
                }
            }
        }
    }
}

#editModal,#commentEditModal, #tagUsersModal{
    .modal-dialog{
        max-width: 50vw;
    }
    .modal-title{
        letter-spacing: 1px;
        @include font-size (1.2rem);
    }
    .modal-body{
        padding-top: 0.25rem;
        #modalPicture-preview{
            display: block;
            width:100%;
            .resetPictureBox{
                text-align: right;
                i{
                    cursor: pointer;
                    @include font-size(1.1rem);
                    &:hover{
                        color:$orange;
                    }
                }
            }
            .thumb{
                max-width: 150px;
                max-height: 150px;
                margin-left: 0.5rem;
                margin-bottom: 0.5rem;
            }
        }
        .friendsWallButtons{
            margin: 0.5rem 0;
            padding:0 0.5rem;
            .additionalButton{
                @include font-size(1.4rem);
                margin: 0 0.5rem;
                cursor: pointer;
                &:hover{
                    color: $orange;
                }
            }
            .custom-control-input:checked ~ .custom-control-label::before{
                background-color: $orange;
                border-color: $orange;
            }
        }
        .friendsWallSendButton{
            button{
                color: $white;
                background-color: $orange;
                @include font-size(1rem);
                font-weight: normal;
                text-transform: uppercase;
                letter-spacing: 2px;
            }
        }
        #taggedUsers,#postTaggedUsersModal,#commentModalUserTagged{
            padding: 0 1rem;
            margin-top: 2rem;
            margin-bottom: 1rem;
            width: 100%;
            .taggedUser,.commentTaggedUser{
                text-decoration: none;
                cursor: pointer;
                label,span{
                    cursor: pointer;
                    padding: 0.5rem 1rem;
                    border-radius: 50px;
                    background-color: $orange;
                    color: $white;
                    font-weight: bold;
                    letter-spacing: 1px;
                    @include font-size(0.9rem);
                }
            }
        }
        #postTaggedUsersModal,#commentModalUserTagged{
            .taggedUser,.commentTaggedUser{
                cursor: default !important;
                label,span{
                    cursor: default !important;
                }
            }
        }
    }
}