.bg-pic-login{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
    background-image: url("/images/bg1-alltogether.jpg");
    min-height: 80vh;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.login-info-window{
    text-align: center;
    color: rgb(172, 172, 172);
    background-color: #000;
}
.login-window{
    border-radius: 50%;
    margin: auto;
    margin-top: 10%;
    width: 400px;
    height: 400px;
    overflow: hidden;
    text-align: center;
    border: 0px;
}