.bag-pink{
    background-color: #ff6fff;
}
.bag-yellow{
    background-color: #fbff00;
}
.bag-grey{
    background-color: #bbbbbb;
}
.profile-paragraph{
    // border-top: 2px dashed $orange;
    // border-bottom: 0 ;
    // border-left: 0px;
    // border-right: 2px dashed $orange ;
    padding: 5px;
    border-radius: 8px;
    background-color: $orange;

}