html{font-size: 16px !important;}
.row{
    margin-left: 0;
    margin-right: 0;
}
.profileData{
    overflow: hidden;
    height: 80vh;
    max-height: 80vh;
    margin-top: 0.5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 1rem;
    .row{
        margin-left: 0;
    }
    .userName{
        span{
            @include font-size(1.1rem);
            font-weight: bold;
            letter-spacing: 1.5px;
        }
    }
    .userPicture{
        padding-top: 0.5rem;
        img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
        }
    }
    .userStatus{
        padding-top:0.5rem;
        span{
            @extend .text-muted;
            @include font-size(0.75rem);
            text-align: center;
        }
    }
    .userData{
        padding-top: 0.5rem;
        .userDataCell{
            @include font-size(1.1rem);
            font-weight: bold;
            color: $orange;
        }
    }
    .userDesc{
        padding-top: 0.5rem;
        span{
            @include font-size(0.9rem);
            letter-spacing: 1px;
            text-align: justify;
        }
        button{
            @include font-size(0.95rem);
            font-weight: bold;
            display: block;
            &:hover{
                color: $orange;
            }
        }
    }
    .userTags{
        padding-top: 1rem;  
        justify-content: center;
        span{
            @include font-size(0.85rem);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0.5rem 0.3rem;
            color: $white;
            letter-spacing: 1px;
            background-color: $orange;
            margin-left: 0.5rem;
            margin-top: 0.5rem;
            border-radius: 20px;
        }
        button{
            font-weight: bold;
            @include font-size(0.9rem);
            &:hover{
                color: $orange;
            }
        }
    }
    .userButtons{
        margin-top: 1rem;
        .ico{
            button{
                @include font-size(1.2rem);
                text-align: center;
                position: relative;
                &:hover{
                    i{
                        color: $orange;
                    }
                }
                i{
                    color: $black;
                    display: block;
                    &.active{
                        color: $orange;
                    }
                }
                .badge{
                    position: absolute;
                    @include font-size(0.6rem);
                    color: $white;
                    background-color: $orange;
                    border-radius: 50%;
                    top: 1rem;
                    left: 1.5rem;
                }
                &.active{
                    i{
                        color: $orange;
                    }
                }
            }
        }
    }
}

.closeFriends{
    margin-top: 0.5rem;
    height: min-content;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    header{
        @include font-size(0.8rem);
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
        &:hover{
            text-decoration: underline;
            color: $orange;
        }
    }
    .userFriend{
        padding-top: 0.5rem;
        a{
            display: block;
            color: $black;
            span{
                @include font-size(0.85rem);
                letter-spacing: 0.5px;
            }
            &:hover{
                color: $orange;
            }
        }
        img{
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
        }
    }
}

.activity{
    height: 65vh;
}