#profileEditForm {
    padding: 0.5rem;

    .profilePicture {
        margin: auto;

        img {
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
            margin: auto;
            cursor: pointer;
        }

        input {
            width: 100%;
            margin-top: 0.5rem;
            text-align: center;
        }
    }

    .profileRelationship {
        .form-check-inline {
            text-align: center;
        }

        .userFriend {
            margin-top: 1rem;

            div {
                #deletePartner {
                    float: right;
                    text-align: (0.9rem);
                    cursor: pointer;

                    &:hover {
                        color: $orange;
                    }
                }

                margin: auto;
                text-align: center;
                width: min-content;

                img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 0.5rem;
                    color: $black;
                }

                span {
                    @include font-size(1rem);
                    font-weight: bold;
                    color: $black;
                    letter-spacing: 0.5px;
                }

                a:hover {
                    color: $orange;

                    span {
                        color: $orange;
                    }
                }
            }
        }
    }

    .tagPartner {
        margin: 0.5rem 0;

        i {
            cursor: pointer;
            padding: 0.5rem;
            @include font-size(1.2rem);

            &:hover {
                color: $orange;
            }
        }
    }

    .profileTags {
        #profileTagsOut {
            justify-content: center;

            .userTag {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $orange;
                color: $white;
                @include font-size(0.9rem);
                border-radius: 50px;
                margin-left: 0.5rem;
                margin-top: 0.5rem;
                padding: 0.5rem 0.2rem;

                &:hover {
                    background-color: $orange-active-hover;
                }
            }
        }
    }

    .profileSave {
        button {
            padding: 0.5rem 1rem;
            background-color: $orange;
            color: $white;

            &:hover {
                background-color: $orange-hover;
            }
        }
    }
}
.profileDisclaimer{
    margin-top: 1rem;
    @include font-size(0.9rem);
    @extend .text-muted;
    width: 100%;
    text-align: center;
    letter-spacing: 0.5px;
}
#deleteUser {
    margin: 2rem;
    button {
        @include font-size (1.5rem);
        font-weight: bold;
        letter-spacing: 1px;
        width: 100%;
        background-color: $orange-active;
        color: $white;

        &:hover {
            background-color: $orange-active-hover;
        }
    }
}

#tagPartnerModal {
    z-index: 1050;

    .modal-dialog {
        margin: 2rem auto;
        max-width: 80vw;

        output {
            width: 100%;
        }

        @media screen and (max-width: $mobile-breakpoint) {
            button {
                margin-top: 0.5rem;
            }
        }

        .userFriend {
            text-align: center;

            div {
                cursor: pointer;
                width: min-content;
                margin: auto;
                padding: 0.5rem 2rem;

                img {
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    display: block;
                    margin: 0 auto;
                    margin-bottom: 0.5rem;
                    color: $black;
                }

                span {
                    @include font-size(1rem);
                    font-weight: bold;
                    color: $black;
                    letter-spacing: 0.5px;
                }

                &:hover {
                    background-color: $light-orange;
                }

                &.selected {
                    background-color: $orange;

                    span {
                        color: $white;
                    }

                    &:hover {
                        background-color: $orange;
                    }
                }
            }
        }
    }
}
