.searcher{

    .form{

        .form-group{

            .form-row{
                font-weight: bold;
            }
        }

        .button{
            background-color: $orange;
            color: $white;
            &:hover{
                color: $black;
            }
        }

        #hobbyOutput{
            ul{
                list-style: none;
                .hobby{
                    cursor: pointer;
                    &:hover{
                        color:$red;
                    }
                }
            }
        }
    }
}

.searchResults-header{
    @include font-size(2rem);
}

.searchResults-box{

    .searchResult{

        .picture{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .overlay {
                background: rgba(0,0,0,0.5);
                position: absolute;
                width: 8em;
                top: 0;
                bottom: 0;
                opacity: 0;
                border-radius: 50%;
                -webkit-transition: all 0.4s ease-in-out 0s;
                -moz-transition: all 0.4s ease-in-out 0s;
                transition: all 0.4s ease-in-out 0s;
              }
              
              &:hover .overlay{
                opacity: 1;
              }
              .overlay-content {
                position: absolute;
                text-align: center;
                width: 7em;
                top: 50%;
                left: 50%;
                opacity: 0;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                -webkit-transition: all 0.3s ease-in-out 0s;
                -moz-transition: all 0.3s ease-in-out 0s;
                transition: all 0.3s ease-in-out 0s;
                background-color: $orange;

                .overlay-text{
                    color: #fff;
                    text-transform: uppercase;
                    @include font-size(0.7rem);
                }

              }
              
              &:hover .overlay-content{
                top: 50%;
                left: 50%;
                opacity: 1;
              }
              
              .fadeIn-bottom{
                top: 80%;
              }

            img{
                width: 8em;
                border-radius: 50%;
            }
        }

        .data{
            @media screen and (max-width: $breakpoint1) {
                text-align: center;
              }
            .personalInfo-box{
                
                .name{
                    @include font-size(1.8rem);
                }

                .age{
                    color:$grey;
                    @include font-size(0.9rem);
                }
            }

            .city-box{

                .city{
                    @include font-size(1rem);
                }
            }

            .description-box{

                .description{
                    @include font-size(1.1rem);
                }
            }
        }

        .icons{
            .ico{
                @media screen and (max-width: $breakpoint1) {
                    float: left;
                    text-align: center;
                }
                a{
                    text-decoration: none;
                    color: $black;
                    &:hover{
                        color: $orange;
                    }
                }
                button{
                    @include font-size(1.5rem);
                    &:hover{
                        i{
                            color: $orange;
                        }
                    }
                }
            }
        }
    }
    div.searchResult.activeUser{
        .name{
            color: $green;
        }
    }

    ul.pagination{
        justify-content: center;
        align-items: center;
        
        .page-item{

            .page-link{
                color:$black;
            }

            &.active{
                .page-link{
                    background-color: $orange;
                    border-color: $orange;
                    color: $white;
                }
            }
        }
    }
}