// Body
$body-bg: #f8fafc;
$body-picture: url("img/background.jpg");

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blac: #333333;
$light-blac: rgba(55, 55, 55, 0.9);
$white:#ffffff;
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f66103;
$orange-trans: rgba(226, 97, 3, 0.4);
$orange-hover: #e26103;
$orange-active: #f22103;
$orange-active-hover: #d22103;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$grey: #a1a1a1;
$dark-grey: #828282;
$light-grey: #e8e8e8;
$light-orange: rgba(255,140,0,0.7);
$trans-grey: rgba(90,90,90,0.8);

$laravel-grey: #f8fafc;

// Breakpoints
$breakpoint1: 992px;
$breakpoint2: 1200px;

$mobile-breakpoint: 767px;
$ultra-small: 348px;
