@import 'variables';
@import "~rfs/scss";

main{
    hr{
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
    }
    min-height: 80vh;
    .tabsPills{
        display: flex;
        justify-content: center;
        align-items: center;

       .nav-pills{
            width: 100%;

            & .nav-link.active{
                background-color: $orange;
                .ticketCount{
                    color: $yellow;
                }
            }
        }
        a{
            margin-bottom: 1rem !important;
            padding: 5%;
            color: $blac; 
            text-transform: uppercase;
            font-weight: bold;
            .ticketCount{
                color: $red;
            }
        }
    }

    .tabsContent{

        div.tab-pane{
            max-height: 60vh;
            overflow-y: auto;
            .form-btn{
                @include font-size(0.7rem);
                font-weight: bold;
            }
            .fetchBtn{
                cursor: pointer;
                float: right;
                color: $orange;
                position: relative;
                &.spin{
                    i{
                        animation-name: spin;
                        animation-duration: 2000ms;
                        animation-iteration-count: infinite;
                        animation-timing-function: linear;
                    }
                }
                &.new:after{
                    content: '';
                    width: 10px;
                    height: 10px;
                    background:$red;
                    border-radius: 50%;
                    display: block;
                    position: absolute;
                    top: 50%;
                    left: 68%;
                }

            }
        }
        .profilePicture{
            max-width: 100px;
        }

        #adminWideInfo-content{
            overflow-y: unset;
            #adminInfoForm{
                .form-group{
                    label{
                        @include font-size(1.2rem);
                        font-weight: bold;
                    }
                    input[type="checkbox"]{
                        width: 1rem;
                        height: 1rem;
                    }
                    display: block;
                    width:100%;
                    #adminPicture-preview{
                        display: block;
                        width: 100%;
                        .resetPictureBox{
                            text-align: right;
                            i{
                                cursor: pointer;
                                @include font-size(1.2rem);
                                &:hover{
                                    color:$orange;
                                }
                            }
                        }
                        .thumb{
                            margin-right: 0.5rem;
                            margin-bottom: 1rem;
                            max-width: 200px;
                            max-height: 200px;
                        }
                    }
                    .friendsWallButtons{
                        padding-left: 0.25rem;
                        i{
                            @include font-size(1.2rem);
                            margin-left: 0.5rem;
                            cursor: pointer;
                            &:hover{
                                color: $orange;
                            }
                        }
                    }
                }
                .wideInfoBtn{
                    @include font-size(1.3rem);
                    background-color: $orange;
                    color: $white;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }

    
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}