main {
  min-height: 80vh;
}

main hr {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
}

main .tabsPills {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  main .tabsPills {
    transition: left 1s linear;
    position: fixed;
    left: -100%;
    max-width: 80%;
    background: #f8fafc;
    z-index: 1001;
    overflow-y: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    border: solid 3px #a1a1a1;
    border-left: 0;
    padding-left: 0.3rem;
  }
}

main .tabsPills.show {
  left: 0;
}

main .tabsPills .nav-pills {
  width: 100%;
  margin-top: 2.5rem;
}

main .tabsPills .nav-pills .nav-link.active {
  background-color: #f66103;
}

main .tabsPills .nav-pills .nav-link.active .ticketCount {
  color: #ffed4a;
}

main .tabsPills a {
  margin-bottom: 1rem !important;
  padding: 5%;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
}

main .tabsPills a .ticketCount {
  color: #e3342f;
}

main .tabsContent thead {
  text-align: center;
}

main .tabsContent div.tab-pane {
  max-height: 75vh;
  overflow-y: auto;
}

main .tabsContent div.tab-pane .form-btn {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

main .tabsContent div.tab-pane .fetchBtn {
  padding: 1rem;
  cursor: pointer;
  color: #f66103;
  position: relative;
}

main .tabsContent div.tab-pane .fetchBtn.spin i {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

main .tabsContent div.tab-pane .fetchBtn.new:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #e3342f;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 68%;
}

main .tabsContent .profilePicture {
  max-width: 100px;
}

main .tabsContent #adminWideInfo-content {
  overflow-y: unset;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group {
  display: block;
  width: 100%;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group label {
  font-size: 1.2rem;
  font-weight: bold;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview {
  display: block;
  width: 100%;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .resetPictureBox {
  text-align: right;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .resetPictureBox i {
  cursor: pointer;
  font-size: 1.2rem;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .resetPictureBox i:hover {
  color: #f66103;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .thumb {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  max-width: 200px;
  max-height: 200px;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group .friendsWallButtons {
  padding-left: 0.25rem;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group .friendsWallButtons i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group .friendsWallButtons i:hover {
  color: #f66103;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .wideInfoBtn {
  font-size: calc(1.255rem + 0.06vw);
  background-color: #f66103;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 1200px) {
  main .tabsContent #adminWideInfo-content #adminInfoForm .wideInfoBtn {
    font-size: 1.3rem;
  }
}

main #showTabsMenu {
  font-size: calc(1.275rem + 0.3vw);
  position: fixed;
  top: 80%;
  color: #ffffff;
  background: #f66103;
  z-index: 1002;
  cursor: pointer;
  padding: 0.5rem 0.6rem 0.5rem 1rem;
  right: -100%;
  border-radius: 50% 0 0 50%;
}

@media (min-width: 1200px) {
  main #showTabsMenu {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  main #showTabsMenu {
    right: 0;
  }
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

