@charset "UTF-8";

/*!
 * 
 * Super simple wysiwyg editor v0.8.16
 * https://summernote.org
 * 
 * 
 * Copyright 2013- Alan Hong. and other contributors
 * summernote may be freely distributed under the MIT license.
 * 
 * Date: 2020-02-19T09:12Z
 * 
 */

@font-face {
  font-family: "summernote";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url(/fonts/vendor/summernote/dist/summernote.eot?f4a47ce92c02ef70fc848508f4cec94a);
  src: url(/fonts/vendor/summernote/dist/summernote.eot?f4a47ce92c02ef70fc848508f4cec94a) format("embedded-opentype"), url(/fonts/vendor/summernote/dist/summernote.woff2?f694db69cded200e4edd999fddef81b7) format("woff2"), url(/fonts/vendor/summernote/dist/summernote.woff?c1a96d26d30d9e0b2fd33c080d88c72e) format("woff"), url(/fonts/vendor/summernote/dist/summernote.ttf?82fa597f29de41cd41a7c402bcf09ba5) format("truetype");
}

[class^=note-icon]:before,
[class*=" note-icon"]:before {
  display: inline-block;
  font-family: summernote;
  font-style: normal;
  font-size: inherit;
  text-decoration: inherit;
  text-rendering: auto;
  text-transform: none;
  vertical-align: middle;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  speak: none;
}

.note-icon-fw {
  text-align: center;
  width: 1.25em;
}

.note-icon-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.note-icon-pull-left {
  float: left;
}

.note-icon-pull-right {
  float: right;
}

.note-icon.note-icon-pull-left {
  margin-right: 0.3em;
}

.note-icon.note-icon-pull-right {
  margin-left: 0.3em;
}

.note-icon-align::before {
  content: "\EA01";
}

.note-icon-align-center::before {
  content: "\EA02";
}

.note-icon-align-indent::before {
  content: "\EA03";
}

.note-icon-align-justify::before {
  content: "\EA04";
}

.note-icon-align-left::before {
  content: "\EA05";
}

.note-icon-align-outdent::before {
  content: "\EA06";
}

.note-icon-align-right::before {
  content: "\EA07";
}

.note-icon-arrow-circle-down::before {
  content: "\EA08";
}

.note-icon-arrow-circle-left::before {
  content: "\EA09";
}

.note-icon-arrow-circle-right::before {
  content: "\EA0A";
}

.note-icon-arrow-circle-up::before {
  content: "\EA0B";
}

.note-icon-arrows-alt::before {
  content: "\EA0C";
}

.note-icon-arrows-h::before {
  content: "\EA0D";
}

.note-icon-arrows-v::before {
  content: "\EA0E";
}

.note-icon-bold::before {
  content: "\EA0F";
}

.note-icon-caret::before {
  content: "\EA10";
}

.note-icon-chain-broken::before {
  content: "\EA11";
}

.note-icon-circle::before {
  content: "\EA12";
}

.note-icon-close::before {
  content: "\EA13";
}

.note-icon-code::before {
  content: "\EA14";
}

.note-icon-col-after::before {
  content: "\EA15";
}

.note-icon-col-before::before {
  content: "\EA16";
}

.note-icon-col-remove::before {
  content: "\EA17";
}

.note-icon-eraser::before {
  content: "\EA18";
}

.note-icon-float-left::before {
  content: "\EA19";
}

.note-icon-float-none::before {
  content: "\EA1A";
}

.note-icon-float-right::before {
  content: "\EA1B";
}

.note-icon-font::before {
  content: "\EA1C";
}

.note-icon-frame::before {
  content: "\EA1D";
}

.note-icon-italic::before {
  content: "\EA1E";
}

.note-icon-link::before {
  content: "\EA1F";
}

.note-icon-magic::before {
  content: "\EA20";
}

.note-icon-menu-check::before {
  content: "\EA21";
}

.note-icon-minus::before {
  content: "\EA22";
}

.note-icon-orderedlist::before {
  content: "\EA23";
}

.note-icon-pencil::before {
  content: "\EA24";
}

.note-icon-picture::before {
  content: "\EA25";
}

.note-icon-question::before {
  content: "\EA26";
}

.note-icon-redo::before {
  content: "\EA27";
}

.note-icon-rollback::before {
  content: "\EA28";
}

.note-icon-row-above::before {
  content: "\EA29";
}

.note-icon-row-below::before {
  content: "\EA2A";
}

.note-icon-row-remove::before {
  content: "\EA2B";
}

.note-icon-special-character::before {
  content: "\EA2C";
}

.note-icon-square::before {
  content: "\EA2D";
}

.note-icon-strikethrough::before {
  content: "\EA2E";
}

.note-icon-subscript::before {
  content: "\EA2F";
}

.note-icon-summernote::before {
  content: "\EA30";
}

.note-icon-superscript::before {
  content: "\EA31";
}

.note-icon-table::before {
  content: "\EA32";
}

.note-icon-text-height::before {
  content: "\EA33";
}

.note-icon-trash::before {
  content: "\EA34";
}

.note-icon-underline::before {
  content: "\EA35";
}

.note-icon-undo::before {
  content: "\EA36";
}

.note-icon-unorderedlist::before {
  content: "\EA37";
}

.note-icon-video::before {
  content: "\EA38";
}

.note-editor {
  position: relative;
}

.note-editor .note-dropzone {
  position: absolute;
  display: none;
  z-index: 100;
  color: #87cefa;
  background-color: #fff;
  opacity: 0.95;
}

.note-editor .note-dropzone .note-dropzone-message {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}

.note-editor .note-dropzone.hover {
  color: #098ddf;
}

.note-editor.dragover .note-dropzone {
  display: table;
}

.note-editor .note-editing-area {
  position: relative;
}

.note-editor .note-editing-area .note-editable {
  outline: none;
}

.note-editor .note-editing-area .note-editable sup {
  vertical-align: super;
}

.note-editor .note-editing-area .note-editable sub {
  vertical-align: sub;
}

.note-editor .note-editing-area .note-editable img.note-float-left {
  margin-right: 10px;
}

.note-editor .note-editing-area .note-editable img.note-float-right {
  margin-left: 10px;
}

.note-editor.note-frame,
.note-editor.note-airframe {
  border: 1px solid #a9a9a9;
}

.note-editor.note-frame.codeview .note-editing-area .note-editable,
.note-editor.note-airframe.codeview .note-editing-area .note-editable {
  display: none;
}

.note-editor.note-frame.codeview .note-editing-area .note-codable,
.note-editor.note-airframe.codeview .note-editing-area .note-codable {
  display: block;
}

.note-editor.note-frame .note-editing-area,
.note-editor.note-airframe .note-editing-area {
  overflow: hidden;
}

.note-editor.note-frame .note-editing-area .note-editable,
.note-editor.note-airframe .note-editing-area .note-editable {
  background-color: #fff;
  color: #000;
  padding: 10px;
  overflow: auto;
  word-wrap: break-word;
}

.note-editor.note-frame .note-editing-area .note-editable[contenteditable=false],
.note-editor.note-airframe .note-editing-area .note-editable[contenteditable=false] {
  background-color: #e5e5e5;
}

.note-editor.note-frame .note-editing-area .note-codable,
.note-editor.note-airframe .note-editing-area .note-codable {
  display: none;
  width: 100%;
  padding: 10px;
  border: none;
  box-shadow: none;
  font-family: Menlo, Monaco, monospace, sans-serif;
  font-size: 14px;
  color: #ccc;
  background-color: #222;
  resize: none;
  outline: none;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 0;
  margin-bottom: 0;
}

.note-editor.note-frame.fullscreen,
.note-editor.note-airframe.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100% !important;
  z-index: 1050;
}

.note-editor.note-frame.fullscreen .note-editable,
.note-editor.note-airframe.fullscreen .note-editable {
  background-color: #fff;
}

.note-editor.note-frame.fullscreen .note-resizebar,
.note-editor.note-airframe.fullscreen .note-resizebar {
  display: none;
}

.note-editor.note-frame .note-status-output,
.note-editor.note-airframe .note-status-output {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  height: 20px;
  margin-bottom: 0;
  color: #000;
  border: 0;
  border-top: 1px solid #e2e2e2;
}

.note-editor.note-frame .note-status-output:empty,
.note-editor.note-airframe .note-status-output:empty {
  height: 0;
  border-top: 0 solid transparent;
}

.note-editor.note-frame .note-status-output .pull-right,
.note-editor.note-airframe .note-status-output .pull-right {
  float: right !important;
}

.note-editor.note-frame .note-status-output .text-muted,
.note-editor.note-airframe .note-status-output .text-muted {
  color: #777;
}

.note-editor.note-frame .note-status-output .text-primary,
.note-editor.note-airframe .note-status-output .text-primary {
  color: #286090;
}

.note-editor.note-frame .note-status-output .text-success,
.note-editor.note-airframe .note-status-output .text-success {
  color: #3c763d;
}

.note-editor.note-frame .note-status-output .text-info,
.note-editor.note-airframe .note-status-output .text-info {
  color: #31708f;
}

.note-editor.note-frame .note-status-output .text-warning,
.note-editor.note-airframe .note-status-output .text-warning {
  color: #8a6d3b;
}

.note-editor.note-frame .note-status-output .text-danger,
.note-editor.note-airframe .note-status-output .text-danger {
  color: #a94442;
}

.note-editor.note-frame .note-status-output .alert,
.note-editor.note-airframe .note-status-output .alert {
  margin: -7px 0 0 0;
  padding: 7px 10px 2px 10px;
  border-radius: 0;
  color: #000;
  background-color: #f5f5f5;
}

.note-editor.note-frame .note-status-output .alert .note-icon,
.note-editor.note-airframe .note-status-output .alert .note-icon {
  margin-right: 5px;
}

.note-editor.note-frame .note-status-output .alert-success,
.note-editor.note-airframe .note-status-output .alert-success {
  color: #3c763d !important;
  background-color: #dff0d8 !important;
}

.note-editor.note-frame .note-status-output .alert-info,
.note-editor.note-airframe .note-status-output .alert-info {
  color: #31708f !important;
  background-color: #d9edf7 !important;
}

.note-editor.note-frame .note-status-output .alert-warning,
.note-editor.note-airframe .note-status-output .alert-warning {
  color: #8a6d3b !important;
  background-color: #fcf8e3 !important;
}

.note-editor.note-frame .note-status-output .alert-danger,
.note-editor.note-airframe .note-status-output .alert-danger {
  color: #a94442 !important;
  background-color: #f2dede !important;
}

.note-editor.note-frame .note-statusbar,
.note-editor.note-airframe .note-statusbar {
  background-color: #f5f5f5;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-top: 1px solid #ddd;
}

.note-editor.note-frame .note-statusbar .note-resizebar,
.note-editor.note-airframe .note-statusbar .note-resizebar {
  padding-top: 1px;
  height: 9px;
  width: 100%;
  cursor: ns-resize;
}

.note-editor.note-frame .note-statusbar .note-resizebar .note-icon-bar,
.note-editor.note-airframe .note-statusbar .note-resizebar .note-icon-bar {
  width: 20px;
  margin: 1px auto;
  border-top: 1px solid #a9a9a9;
}

.note-editor.note-frame .note-statusbar.locked .note-resizebar,
.note-editor.note-airframe .note-statusbar.locked .note-resizebar {
  cursor: default;
}

.note-editor.note-frame .note-statusbar.locked .note-resizebar .note-icon-bar,
.note-editor.note-airframe .note-statusbar.locked .note-resizebar .note-icon-bar {
  display: none;
}

.note-editor.note-frame .note-placeholder,
.note-editor.note-airframe .note-placeholder {
  padding: 10px;
}

.note-editor.note-airframe {
  border: 0;
}

.note-editor.note-airframe .note-editing-area .note-editable {
  padding: 0;
}

.note-popover.popover {
  display: none;
  max-width: none;
}

.note-popover.popover .popover-content a {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  vertical-align: middle;
}

.note-popover.popover .arrow {
  left: 20px !important;
}

.note-toolbar {
  position: relative;
}

.note-popover .popover-content,
.note-toolbar {
  margin: 0;
  padding: 0 0 5px 5px;
}

.note-popover .popover-content > .note-btn-group,
.note-toolbar > .note-btn-group {
  margin-top: 5px;
  margin-left: 0;
  margin-right: 5px;
}

.note-popover .popover-content .note-btn-group .note-table,
.note-toolbar .note-btn-group .note-table {
  min-width: 0;
  padding: 5px;
}

.note-popover .popover-content .note-btn-group .note-table .note-dimension-picker,
.note-toolbar .note-btn-group .note-table .note-dimension-picker {
  font-size: 18px;
}

.note-popover .popover-content .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher,
.note-toolbar .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-mousecatcher {
  position: absolute !important;
  z-index: 3;
  width: 10em;
  height: 10em;
  cursor: pointer;
}

.note-popover .popover-content .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-unhighlighted,
.note-toolbar .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-unhighlighted {
  position: relative !important;
  z-index: 1;
  width: 5em;
  height: 5em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIj4+Pjp6ekKlAqjAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKhmnaJzPAAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat;
}

.note-popover .popover-content .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted,
.note-toolbar .note-btn-group .note-table .note-dimension-picker .note-dimension-picker-highlighted {
  position: absolute !important;
  z-index: 2;
  width: 1em;
  height: 1em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASAgMAAAAroGbEAAAACVBMVEUAAIjd6vvD2f9LKLW+AAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfYAR0BKwNDEVT0AAAAG0lEQVQI12NgAAOtVatWMTCohoaGUY+EmIkEAEruEzK2J7tvAAAAAElFTkSuQmCC") repeat;
}

.note-popover .popover-content .note-style .dropdown-style blockquote,
.note-popover .popover-content .note-style .dropdown-style pre,
.note-toolbar .note-style .dropdown-style blockquote,
.note-toolbar .note-style .dropdown-style pre {
  margin: 0;
  padding: 5px 10px;
}

.note-popover .popover-content .note-style .dropdown-style h1,
.note-popover .popover-content .note-style .dropdown-style h2,
.note-popover .popover-content .note-style .dropdown-style h3,
.note-popover .popover-content .note-style .dropdown-style h4,
.note-popover .popover-content .note-style .dropdown-style h5,
.note-popover .popover-content .note-style .dropdown-style h6,
.note-popover .popover-content .note-style .dropdown-style p,
.note-toolbar .note-style .dropdown-style h1,
.note-toolbar .note-style .dropdown-style h2,
.note-toolbar .note-style .dropdown-style h3,
.note-toolbar .note-style .dropdown-style h4,
.note-toolbar .note-style .dropdown-style h5,
.note-toolbar .note-style .dropdown-style h6,
.note-toolbar .note-style .dropdown-style p {
  margin: 0;
  padding: 0;
}

.note-popover .popover-content .note-color-all .note-dropdown-menu,
.note-toolbar .note-color-all .note-dropdown-menu {
  min-width: 337px;
}

.note-popover .popover-content .note-color .dropdown-toggle,
.note-toolbar .note-color .dropdown-toggle {
  width: 20px;
  padding-left: 5px;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette,
.note-toolbar .note-color .note-dropdown-menu .note-palette {
  display: inline-block;
  margin: 0;
  width: 160px;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette:first-child,
.note-toolbar .note-color .note-dropdown-menu .note-palette:first-child {
  margin: 0 5px;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-palette-title,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-palette-title {
  font-size: 12px;
  margin: 2px 7px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-reset,
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-select,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-select {
  font-size: 11px;
  margin: 3px;
  padding: 0 3px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-reset:hover,
.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-select:hover,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-reset:hover,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-select:hover {
  background: #eee;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-row,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-row {
  height: 20px;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-color-select-btn,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-color-select-btn {
  display: none;
}

.note-popover .popover-content .note-color .note-dropdown-menu .note-palette .note-holder-custom .note-color-btn,
.note-toolbar .note-color .note-dropdown-menu .note-palette .note-holder-custom .note-color-btn {
  border: 1px solid #eee;
}

.note-popover .popover-content .note-para .note-dropdown-menu,
.note-toolbar .note-para .note-dropdown-menu {
  min-width: 216px;
  padding: 5px;
}

.note-popover .popover-content .note-para .note-dropdown-menu > div:first-child,
.note-toolbar .note-para .note-dropdown-menu > div:first-child {
  margin-right: 5px;
}

.note-popover .popover-content .note-dropdown-menu,
.note-toolbar .note-dropdown-menu {
  min-width: 160px;
}

.note-popover .popover-content .note-dropdown-menu.right,
.note-toolbar .note-dropdown-menu.right {
  right: 0;
  left: auto;
}

.note-popover .popover-content .note-dropdown-menu.right::before,
.note-toolbar .note-dropdown-menu.right::before {
  right: 9px;
  left: auto !important;
}

.note-popover .popover-content .note-dropdown-menu.right::after,
.note-toolbar .note-dropdown-menu.right::after {
  right: 10px;
  left: auto !important;
}

.note-popover .popover-content .note-dropdown-menu.note-check a i,
.note-toolbar .note-dropdown-menu.note-check a i {
  color: #00bfff;
  visibility: hidden;
}

.note-popover .popover-content .note-dropdown-menu.note-check a.checked i,
.note-toolbar .note-dropdown-menu.note-check a.checked i {
  visibility: visible;
}

.note-popover .popover-content .note-fontsize-10,
.note-toolbar .note-fontsize-10 {
  font-size: 10px;
}

.note-popover .popover-content .note-color-palette,
.note-toolbar .note-color-palette {
  line-height: 1;
}

.note-popover .popover-content .note-color-palette div .note-color-btn,
.note-toolbar .note-color-palette div .note-color-btn {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0;
  border: 1px solid #fff;
}

.note-popover .popover-content .note-color-palette div .note-color-btn:hover,
.note-toolbar .note-color-palette div .note-color-btn:hover {
  border: 1px solid #000;
}

.note-modal .modal-dialog {
  outline: 0;
  border-radius: 5px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
}

.note-modal .form-group {
  margin-left: 0;
  margin-right: 0;
}

.note-modal .note-modal-form {
  margin: 0;
}

.note-modal .note-image-dialog .note-dropzone {
  min-height: 100px;
  font-size: 30px;
  line-height: 4;
  color: #d3d3d3;
  text-align: center;
  border: 4px dashed #d3d3d3;
  margin-bottom: 10px;
}

@-moz-document url-prefix()  {
  .note-modal .note-image-input {
    height: auto;
  }
}

.note-placeholder {
  position: absolute;
  display: none;
  color: gray;
}

.note-handle .note-control-selection {
  position: absolute;
  display: none;
  border: 1px solid #000;
}

.note-handle .note-control-selection > div {
  position: absolute;
}

.note-handle .note-control-selection .note-control-selection-bg {
  width: 100%;
  height: 100%;
  background-color: #000;
  -webkit-opacity: 0.3;
  -khtml-opacity: 0.3;
  -moz-opacity: 0.3;
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=30);
  filter: alpha(opacity=30);
}

.note-handle .note-control-selection .note-control-handle,
.note-handle .note-control-selection .note-control-sizing,
.note-handle .note-control-selection .note-control-holder {
  width: 7px;
  height: 7px;
  border: 1px solid #000;
}

.note-handle .note-control-selection .note-control-sizing {
  background-color: #000;
}

.note-handle .note-control-selection .note-control-nw {
  top: -5px;
  left: -5px;
  border-right: none;
  border-bottom: none;
}

.note-handle .note-control-selection .note-control-ne {
  top: -5px;
  right: -5px;
  border-bottom: none;
  border-left: none;
}

.note-handle .note-control-selection .note-control-sw {
  bottom: -5px;
  left: -5px;
  border-top: none;
  border-right: none;
}

.note-handle .note-control-selection .note-control-se {
  right: -5px;
  bottom: -5px;
  cursor: se-resize;
}

.note-handle .note-control-selection .note-control-se.note-control-holder {
  cursor: default;
  border-top: none;
  border-left: none;
}

.note-handle .note-control-selection .note-control-selection-info {
  right: 0;
  bottom: 0;
  padding: 5px;
  margin: 5px;
  color: #fff;
  background-color: #000;
  font-size: 12px;
  border-radius: 5px;
  -webkit-opacity: 0.7;
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7;
  opacity: 0.7;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
  filter: alpha(opacity=70);
}

.note-hint-popover {
  min-width: 100px;
  padding: 2px;
}

.note-hint-popover .popover-content {
  padding: 3px;
  max-height: 150px;
  overflow: auto;
}

.note-hint-popover .popover-content .note-hint-group .note-hint-item {
  display: block !important;
  padding: 3px;
}

.note-hint-popover .popover-content .note-hint-group .note-hint-item.active,
.note-hint-popover .popover-content .note-hint-group .note-hint-item:hover {
  display: block;
  clear: both;
  font-weight: 400;
  line-height: 1.4;
  color: #fff;
  white-space: nowrap;
  text-decoration: none;
  background-color: #428bca;
  outline: 0;
  cursor: pointer;
}

.note-toolbar .note-btn {
  background: #fff;
  border-color: #dae0e5;
  padding: 0.28rem 0.65rem;
  font-size: 13px;
}

body.lb-disable-scrolling {
  overflow: hidden;
}

.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
  outline: none;
}

.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  max-height: none;
  border-radius: 3px;
  /* Image border */
  border: 4px solid white;
}

.lightbox a img {
  border: none;
}

.lb-outerContainer {
  position: relative;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border-radius: 4px;
  /* Background color behind image.
     This is visible during transitions. */
  background-color: white;
}

.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(/images/vendor/lightbox2/dist/loading.gif?2299ad0b3f63413f026dfec20c205b8f) no-repeat;
}

.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

.lb-container > .nav {
  left: 0;
}

.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

.lb-prev,
.lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(/images/vendor/lightbox2/dist/prev.png?84b76dee6b27b795e89e3649078a11c2) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(/images/vendor/lightbox2/dist/next.png?31f15875975aab69085470aabbfec802) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

.lb-data {
  padding: 0 4px;
  color: #ccc;
}

.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

.lb-data .lb-caption a {
  color: #4ae;
}

.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(/images/vendor/lightbox2/dist/close.png?d9d2d0b1308cb694aa8116915592e2a9) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

main {
  min-height: 80vh;
}

main .adminLinks {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

main .adminLinks a {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin: auto;
  background-color: #f66103;
  color: #ffffff;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
}

main .adminLinks a:hover {
  background-color: #e26103;
  color: #ffffff;
}

@media screen and (max-width: 767px) {
  main .adminLinks a {
    margin-top: 0.5rem;
  }
}

main hr {
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

main .tabsPills {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  main .tabsPills {
    transition: left 1s linear;
    position: fixed;
    left: -100%;
    max-width: 80%;
    background: #f8fafc;
    z-index: 1001;
    overflow-y: auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    border: solid 3px #a1a1a1;
    border-left: 0;
    padding-left: 0.3rem;
    top: 15%;
  }
}

main .tabsPills.show {
  left: 0;
}

main .tabsPills .nav-pills {
  width: 100%;
}

main .tabsPills .nav-pills .nav-link.active {
  background-color: #f66103;
}

main .tabsPills .nav-pills .nav-link.active .ticketCount {
  color: #ffed4a;
}

main .tabsPills .nav-pills .nav-link.active:hover {
  background-color: #e26103;
}

main .tabsPills a {
  margin-bottom: 1rem !important;
  padding: 5%;
  color: #333333;
  text-transform: uppercase;
  font-weight: bold;
}

main .tabsPills a .ticketCount {
  color: #e3342f;
}

main .tabsPills a:hover {
  background-color: rgba(255, 140, 0, 0.7);
}

main .tabsPills a.creatingTab {
  padding: 2.5% 0;
  text-align: center;
  margin-top: 0.5rem;
}

main .tabsContent thead {
  text-align: center;
}

main .tabsContent div.tab-pane {
  max-height: 72vh;
  overflow-y: auto;
}

main .tabsContent div.tab-pane .form-btn {
  font-size: 0.7rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

main .tabsContent div.tab-pane .form-btn.alreadySent {
  background-color: #38c172;
}

main .tabsContent div.tab-pane .fetchBtn {
  padding: 1rem;
  cursor: pointer;
  color: #f66103;
  position: relative;
}

main .tabsContent div.tab-pane .fetchBtn.spin i {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

main .tabsContent div.tab-pane .fetchBtn.new:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #e3342f;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 68%;
}

main .tabsContent div.tab-pane .fetchBtn i:hover {
  color: #e26103;
}

main .tabsContent div.tab-pane .searchBtn {
  padding: 1rem;
  cursor: pointer;
  color: #f66103;
  position: relative;
}

main .tabsContent div.tab-pane .searchBtn i:hover {
  color: #e26103;
}

main .tabsContent .profilePicture {
  max-width: 100px;
}

main .tabsContent #adminWideInfo-content {
  overflow-y: unset;
}

main .tabsContent #adminWideInfo-content #adminInfoForm {
  padding-bottom: 0.5rem;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group {
  display: block;
  width: 100%;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group label {
  font-size: 1.2rem;
  font-weight: bold;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group input[type=checkbox] {
  width: 1rem;
  height: 1rem;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview {
  display: block;
  width: 100%;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .resetPictureBox {
  text-align: right;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .resetPictureBox i {
  cursor: pointer;
  font-size: 1.2rem;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .resetPictureBox i:hover {
  color: #f66103;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group #adminPicture-preview .thumb {
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  max-width: 200px;
  max-height: 200px;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group .friendsWallButtons {
  padding-left: 0.25rem;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group .friendsWallButtons i {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .form-group .friendsWallButtons i:hover {
  color: #f66103;
}

main .tabsContent #adminWideInfo-content #adminInfoForm .wideInfoBtn {
  font-size: calc(1.255rem + 0.06vw);
  background-color: #f66103;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

@media (min-width: 1200px) {
  main .tabsContent #adminWideInfo-content #adminInfoForm .wideInfoBtn {
    font-size: 1.3rem;
  }
}

main .tabsContent .returnBtn {
  padding: 0.5rem 1rem;
  text-align: right;
}

main .tabsContent #newCategoryForm {
  padding: 0 0.5rem;
}

main .tabsContent #newCategoryForm label {
  font-weight: bold;
  margin-bottom: 0.25rem;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

main .tabsContent #newCategoryForm .attrBox {
  align-items: center;
}

main .tabsContent #newCategoryForm .attrBox .categoryAttrAppend i,
main .tabsContent #newCategoryForm .attrBox .categoryAttrDelete i {
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
}

main .tabsContent #newCategoryForm .attrBox .categoryAttrAppend i:hover,
main .tabsContent #newCategoryForm .attrBox .categoryAttrDelete i:hover {
  color: #f66103;
}

main .tabsContent #newCategoryForm .newCategoryButton {
  margin-top: 1rem;
  background-color: #f66103;
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

main .tabsContent #newCategoryForm .newCategoryButton:hover {
  background-color: #e26103;
}

main #showTabsMenu {
  font-size: calc(1.275rem + 0.3vw);
  position: fixed;
  top: 80%;
  color: #ffffff;
  background: #f66103;
  z-index: 1002;
  cursor: pointer;
  padding: 0.5rem 0.6rem 0.5rem 1rem;
  right: -100%;
  border-radius: 50% 0 0 50%;
}

@media (min-width: 1200px) {
  main #showTabsMenu {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 767px) {
  main #showTabsMenu {
    right: 0;
  }
}

.modal-dialog {
  margin: 2rem auto;
  max-width: 80vw;
}

.modal-dialog output {
  width: 100%;
}

.modal-dialog .fetchBtn,
.modal-dialog .searchBtn {
  display: none;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

